<h3>Satellite Counts:</h3>
<div class="counts">
  <table>
    <tr *ngFor="let item of satellites"></tr>
    <td>Total:</td>
    <td>
      {{ satellites.length }}
    </td>

    <tr>
      Total Space Debris:
    </tr>
    <td [class.counts]="findCountOf(key)">
      {{ count.value }}
    </td>
    <tr>
      Total Communication:
    </tr>
  </table>
  <!-- <div *ngFor="let item of satellites | key: value">
    <p>{{ item.key }}:{{ item.value }}</p>
  </div> -->
  <!-- <div>
    <p>Total:</p>
    <span> {{ satellites.length }}</span>
  </div>
  <div>
    {{ satellites.type }} <span> {{ i }} </span>
  </div>
</div> -->
</div>
