<h3>Satellite Counts:</h3>
<div class="counts">
  <div>
    Total: <span> {{ satellites.length }}</span>
  </div>
  <div>
    Space Debris: <span> {{ findCountOf("Space Debris") }}</span>
  </div>
  <div>
    Communication: <span> {{ findCountOf("Communication") }}</span>
  </div>
  <div>
    Probe: <span> {{ findCountOf("Probe") }}</span>
  </div>
  <div>
    Positioning: <span> {{ findCountOf("Positioning") }}</span>
  </div>
  <div>
    Space Station: <span> {{ findCountOf("Space Station") }}</span>
  </div>
  <div>
    Telescope: <span> {{ findCountOf("Telescope") }}</span>
  </div>
</div>
